<style type="text/css">
  .tile {
    background-color: blue;
  }
  .tile.first {
  }
  .tile.second {
  }
  .tile.third {
  }

</style>

<div class='tile first'></div>
<div class='tile second'></div>
<div class='tile third'></div>
