<ul class='resource-list'>
  <% card_data.each do |card_type, n| %>
    <li class='clearfix'>
      <% n.times do %>
        <div class='resource-image-wrapper' data-resource='<%= card_type %>'>
          <img src='/images/<%= card_type %>.png'>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
