<% if settlement = @game.board.settlement_at(*coords.map{|v| @game.send(:h, *v)}) %>
  <% if settlement.size == 1 %>
    <div class='settlement' data-color='<%= settlement.color %>' data-coords='<%= coords %>'></div>
  <% elsif settlement.size == 2 %>
    <div class='city' data-color='<%= settlement.color %>'></div>
  <% end %>
<% elsif @game.board.any_land?(coords) %>
  <div class='city-marker' data-coords='<%= coords %>'></div>
<% end %>
