<ul>
  <% @game.messages.each do |message| %>
    <% if message.is_a?(Array) %>
      <li> <strong><%= message[0] %>:</strong> <%= message[1] %> </li>
    <% else %>
      <li> <em style='color: gray'><%= message %></em> </li>
    <% end %>
  <% end %>
</ul>
