<ul class='resource-list'>
  <% Player::RESOURCE_CARDS.each do |resource| %>
    <% n = resources.count{|r| r == resource } %>
    <% if n > 0 %>
    <li class='clearfix'>
      <% n.times do %>
        <div class='resource-image-wrapper' data-resource='<%= resource %>'>
          <img src='images/<%= resource %>.png'>
        </div>
      <% end %>
    <% end %>
    </li>
  <% end %>
</ul>
