<% if road = @game.board.road_at(*coords.map{|c| @game.send(:h, *c) }) %>
  <div class='road <%= road.color %> <%= 'botleft' if defined?(botleft) %>'></div> 
<% else %>
  <div class='road-marker <%= 'botleft' if defined?(botleft) %>' data-coords='<%= coords %>'></div> 
<% end %>
