<% if road = @game.board.road_at(*coords.map{|c| @game.send(:h, *c) }) %>
  <div class='road <%= klass %>' data-color='<%= road.color %>'></div>
<% else %>
  <div class='road-marker <%= klass %>' data-coords='<%= coords %>'></div>
<% end %>
